* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* FUNDO */
body {
  min-height: 100vh;
  background: url("../imagens/hospital.png") no-repeat center;
  background-size: cover;
}

/* HEADER */
.topo {
  padding: 15px 30px;
  background: rgba(255,255,255,0.9);
}

.logo-topo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-topo img {
  width: 50px;
}

/* CENTRALIZA */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* GRID PRINCIPAL */
.card-grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 30px;

  width: 100px;
  max-width: 1000px;

  background: white;
  padding: 30px;
  border-radius: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* ESQUERDA */
.lado-esquerdo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* DIREITA */
.lado-direito {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

/* TÍTULO */
.lado-esquerdo h2 {
  margin-bottom: 5px;
}

/* BLOCOS */
.bloco {
  background: #f4f7fb;
  padding: 15px;
  border-radius: 12px;
  border-left: 4px solid #0a84ff;
}

.bloco h3 {
  margin-bottom: 8px;
  font-size: 15px;
}

.bloco p {
  font-size: 14px;
  margin: 2px 0;
}

/* FORM */
.lado-direito label {
  font-weight: bold;
  margin-top: 5px;
}

.lado-direito input,
.lado-direito select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* BOTÃO */
.lado-direito button {
  margin-top: 15px;
  padding: 12px;

  background: #0a84ff;
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  font-size: 15px;
}

.lado-direito button:hover {
  background: #0066cc;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}


.titulo {
  grid-column: span 2; /* 🔥 ocupa as duas colunas */
  text-align: center;
  margin-bottom: 10px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}


.btn-voltar {
  background: #2aa7fa;
  color: white;

  border: none;
  padding: 8px 16px;
  border-radius: 8px;

  cursor: pointer;
  font-weight: bold;

  transition: 0.2s;
}

.btn-voltar:hover {
  background: #1d8ed8;
}

@media (max-width: 768px) {

  .card-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    
    
  }

  .container {
    padding: 10px;
  }

}

.lado-direito,
.lado-esquerdo {
  width: 100%;
}